<html>
<head>
{% load staticfiles %}
  <script src="{% static "jquery.js" %}"></script>
        {% include 'registration/login.html' %}
        {% include 'signup.html' %}
        {% load static %}
        {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'style.css' %}">

<script>
function login(){
dic = $('#loginform').serialize();
dic = dic + '&b_name=0';
$.ajax(
{
        dataType:"json",
        url: "/ajax/login",
        data: dic,
        success: function( data ){
                if (data['move']=='yes'){
                        window.location.href=data.url;
                }
                else{
                ins = document.getElementById('login_div').getElementsByTagName('input');
                for (i=0;i<ins.length;i++){
                        console.log(ins[i]);
                        ins[i].value = '';
                }
                document.getElementsByClassName('error_messages')[0].innerHTML = '';
                document.getElementsByClassName('error_messages')[0].innerHTML = data['error_messages'];        
                }
        }
});     
}
function signup(){
dic = $('#signupform').serialize();
dic = dic + '&b_name=0';
$.ajax(
{
        dataType:"json",
        url: "/ajax/signup",
        data: dic,
        success: function( data ){
                if (data['move']=='yes'){
                        window.location.href=data.url;
                }
                else{
                ins = document.getElementById('signup_div').getElementsByTagName('input');
                for (i=0;i<ins.length;i++){
                        console.log(ins[i]);
                        ins[i].value = '';
                }
                document.getElementsByClassName('error_messages')[1].innerHTML = ''
                for (i=0;i<data['error_messages'].length;i++){  
                        parg = document.createElement('p');
                        parg.innerHTML = data['error_messages'][i];
                        console.log(parg);
                        document.getElementsByClassName('error_messages')[1].appendChild(parg);
                }
                }
        }
});     
}       

function open_signup() {
        document.getElementById('signup_div').style.display = 'block';
        $("body").toggleClass("dialogIsOpen");
}

function open_login() {
        document.getElementById('login_div').style.display = 'block';
        $("body").toggleClass("dialogIsOpen");
}


function initialize() {
	console.log('hello')
	elems = document.getElementsByTagName('ul');
	console.log(elems);
	for (i=0;i<elems.length;i++){
		elems[i].remove()
	}
}

function getRidOfModal(modal){
        modal.style.display = "none";
	$("body").toggleClass("dialogIsOpen");
}

</script>

</head>
<body onload='initialize()'>
<div id='disablingDiv'></div>
<div class='header'>
        <h1>POLLY</h1>
        <button class='corner_signup' onclick=open_signup() >Sign Up</button>
         <button class='corner_login' onclick=open_login()>Log In</button>
	<a class='corner_library' href="{% url 'text_library' user_name='AnonymousUser' language_native='all' language_foreign='all' %}"> Library</a>
</div>
	{% block content %}
<div id='forgot_div'>
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  </div>
{% endblock %}
</body>
</html>
